.sendMail {
  /* Sonny had absolute position */
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -1px;
  right: 50px;
  background-color: #404040;
  width: 40%;
  height: 40%;
  max-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.sendMail__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  padding: 13px;
}

.sendMail__header h3 {
  color: whitesmoke;
  font-size: 13px;
}

.sendMail__send {
  background-color: #3079ed;
  text-transform: capitalize;
  margin: 15px !important;
}

.sendMail__close {
  cursor: pointer;
}

.sendMail > form {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* height: 100%; */
}

.sendMail form input {
  height: 30px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid whitesmoke;
}

.sendMail__message {
  flex: 1;
  border: none;
  font-family: inherit;
  padding: 10px;
}
.sendMail__error {
  background-color: white;
  color: red;
  padding: 2px;
  text-align: right;
}
